{{define "action"}}
<section class="overflow-hidden bg-[#101827]">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold text-white md:text-3xl">
        Start contributing today
      </h2>

      <p class="hidden text-gray-300 md:mt-4 md:block">
        Join thousands of students helping each other navigate the UNSW campus.
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="/app"
          class="inline-block rounded-sm bg-white px-12 py-3 text-sm font-medium text-[#101827] transition hover:bg-gray-100 focus:ring-3 focus:ring-yellow-400 focus:outline-hidden"
        >
          Get Started
        </a>
      </div>
    </div>
  </div>
</section>
{{end}}