{{define "hero"}}
<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-5xl">
            Know Your Campus Crowd.
          </h2>

          <p class="mt-4 text-gray-700 sm:text-1xl">
            Real-time crowd reporting system for UNSW students.
          </p>
          <p>Help others navigate busy areas efficiently and effortlessly.</p>
          <br />
          <a
            class="inline-block rounded-sm border border-gray-600 bg-gray-600 px-12 py-3 mb-3 lg:mb-0 text-sm font-medium text-white hover:bg-gray-700 hover:text-white focus:ring-3 focus:outline-hidden transition-all transition-300"
            href="/app"
          >
            View Live Map
          </a>

          <a
            class="inline-block rounded-sm border border-gray-600 px-12 py-3 text-sm font-medium text-gray-600 hover:bg-gray-600 hover:text-white focus:ring-3 focus:outline-hidden transition-all transition-300"
            href="https://github.com/yunz-dev/crowdflare"
          >
            Learn More
          </a>
        </div>
      </div>

      <div>
        <img
          src="https://www.unsw.edu.au/content/unsw-sites/au/en/study/discover/campus/_jcr_content/root/responsivegrid-layout-fixed-width/responsivegrid-full-top/column_layout/par_1/column_layout_copy/par_1/column_layout_579515_1357325856/par_2_1_50/image.coreimg.82.1170.jpeg/1675830809729/2021-11-eng-news-13.jpeg"
          class="rounded"
          alt="Campus Image"
        />
      </div>
    </div>
  </div>
</section>
{{end}}

