{{define "navbar"}}
<header
  class="bg-white w-full shadow-md"
  x-data="{ open: false, mode: 'login', openMobile: false }"
>
  <div
    class="w-full flex flex-row mx-auto justify-between items-center py-4 px-10"
  >
    <!-- Logo -->
    <h1 class="text-xl font-bold">CrowdFlare</h1>

    <!-- Desktop Navigation Menu -->
    <nav class="hidden md:block">
      <ul class="flex gap-5">
        <li>
          <a
            href="/"
            hx-push-url="true"
            class="py-2 block text-lg transition-transform duration-300 hover:-translate-y-1 hover:font-bold"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="/app"
            hx-push-url="true"
            class="py-2 block text-lg transition-transform duration-300 hover:-translate-y-1 hover:font-bold"
          >
            Live Map
          </a>
        </li>
        <li>
          <a
            href="/leaderboard"
            hx-push-url="true"
            class="py-2 block text-lg transition-transform duration-300 hover:-translate-y-1 hover:font-bold"
          >
            Leaderboard
          </a>
        </li>
        <li>
          <button
            @click="open = true; mode = 'login'"
            class="bg-gray-400 px-4 py-2 rounded-md hover:bg-gray-700 transition"
          >
            Login
          </button>
        </li>
      </ul>
    </nav>

    <!-- Mobile Hamburger Menu -->
    <div @click="openMobile = !openMobile" class="hamburger-menu md:hidden cursor-pointer">
      <div class="w-6 h-0.5 bg-black mb-1"></div>
      <div class="w-6 h-0.5 bg-black mb-1"></div>
      <div class="w-6 h-0.5 bg-black mb-1"></div>
    </div>

  <nav x-show="openMobile" class="flex md:hidden fixed top-5 right-5 rounded-xl inset-0flex justify-center items-center z-10">
    <ul class="flex flex-col rounded-xl gap-5 bg-gray-800 text-white p-5">
      <li>
        <a href="/" hx-push-url="true" class="py-2 text-lg transition-transform duration-300 hover:-translate-y-1 hover:font-bold">
          Home
        </a>
      </li>
      <li>
        <a href="/map" hx-push-url="true" class="py-2 text-lg transition-transform duration-300 hover:-translate-y-1 hover:font-bold">
          Live Map
        </a>
      </li>
      <li>
        <a href="/leaderboard" hx-push-url="true" class="py-2 text-lg transition-transform duration-300 hover:-translate-y-1 hover:font-bold">
          Leaderboard
        </a>
      </li>
      <li>
        <button @click="open = true; mode = 'login'; openMobile = false" class="bg-gray-400 px-4 py-2 rounded-md hover:bg-gray-700 transition">
          Login
        </button>
      </li>
      <li>
        <p @click="openMobile = false" class="py-2 text-md transition-transform duration-300 hover:-translate-y-1 hover:font-bold">
          Close
        </p>
      </li>
    </ul>
  </nav>
  <!-- Login/Signup Modal -->
  <div
    x-show="open"
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-40"
  >
    <div @click.outside="open = false" class="bg-white p-6 rounded-lg shadow-lg w-96 relative">
      <div class="flex flex-col gap-3 p-5">
        <h1 class="text-2xl text-center font-bold">CrowdFlare</h1>
        <p class="text-md text-center">Track campus crowds in real time</p>
      </div>

      <!-- Close Button (X in top-right corner) -->
      <button
        @click="open = false"
        class="absolute top-2 right-2 text-2xl text-center font-bold mb-4 text-gray-500 hover:text-gray-700"
      >
        x
      </button>

      <!-- Login/Signup Form -->
      <form x-show="mode === 'login'" x-data="{ zid: '', password: '', confirmPassword: '' }" action="/login">
        <div class="mb-4">
          <label class="block text-gray-700">zID</label>
          <input x-model="zid" class="w-full border px-3 py-2 rounded-lg" required>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Password</label>
          <input type="password" x-model="password" class="w-full border px-3 py-2 rounded-lg" required>
        </div>

        <!-- Submit -->
        <button type="submit"
          class="w-full bg-gray-400 py-2 rounded-lg hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed">
          <span>Login</span>
        </button>
        <span class="block mt-4 text-gray-500">Don't have an account?
          <button @click="mode = 'signup'" class="hover:font-bold">Sign up</button>
        </span>
      </form>

      <!-- Signup Form -->
      <form x-show="mode === 'signup'" x-data="{ zid: '', password: '', confirmPassword: '' }" action="/register">
        <div class="mb-4">
          <label class="block text-gray-700">zID</label>
          <input
            x-model="zid"
            class="w-full border px-3 py-2 rounded-lg"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Password</label>
          <input
            type="password"
            x-model="password"
            class="w-full border px-3 py-2 rounded-lg"
            required
          />
        </div>

        <!-- Confirm Password for Signup -->
        <div class="mb-4">
          <label class="block text-gray-700">Confirm Password</label>
          <input
            type="password"
            x-model="confirmPassword"
            class="w-full border px-3 py-2 rounded-lg"
            required
          />
        </div>

        <!-- Submit -->
        <button
          type="submit"
          class="w-full bg-gray-400 py-2 rounded-lg hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
          :disabled="password !== confirmPassword">
          <span>Sign Up</span>
        </button>
        <span class="block mt-4 text-gray-500">Already have an account?
          <button @click="mode = 'login'" class="hover:font-bold">Login</button>
        </span>
      </form>


    </div>
  </div>
</header>
{{end}}
