{{define "stats"}}
<section class="flex items-center justify-center py-24 pb-32 bg-gray-50">
  <div class="flex space-x-8 md:space-x-16 text-center">
    <div>
      <h2 class="text-4xl px-7 md:text-5xl font-bold text-black">5,000+</h2>
      <p class="text-gray-600 mt-2">Daily Users</p>
    </div>
    <div>
      <h2 class="text-4xl px-7 md:text-5xl font-bold text-black">10k+</h2>
      <p class="text-gray-600 mt-2">Reports Made</p>
    </div>
    <div>
      <h2 class="text-4xl px-7 md:text-5xl font-bold text-black">50+</h2>
      <p class="text-gray-600 mt-2">Campus Locations</p>
    </div>
    <div>
      <h2 class="text-4xl px-7 md:text-5xl font-bold text-black">98%</h2>
      <p class="text-gray-600 mt-2">Accuracy Rate</p>
    </div>
  </div>
</section>
{{end}}
